# bin and obj directories at any depth
bin/
obj/

# Build result directory
release

# NUnit files 
TestResult.xml

# Visual studio files
*.sln.DotSettings.user
*.csproj.user
*.suo

# Resharper files
*resharper*
_resharper*/
